<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voting App!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script>
      function myF(){
        $('.mo3').css('display','block');
        $('.mo2').css('display', 'none');
        $('header').css('height', '150px');
        $('main').css('padding-top', '100px')
      }
      function myF2(){
        $('.mo3').css('display','none');
        $('.mo2').css('display', 'block');    
        $('header').css('height', '50px')
        $('main').css('padding-top', '0px')
        
      }
    </script>
    <script>
       $(window).on('resize', function(){
        if($(this).width()>800){
          $('.mo3').css('display','none');
          $('.mo2').css('display', 'none');
          $('header').css('height', '50px')
          $('main').css('padding-top', '0px')        
        }
        if($(this).width()<=800){
          $('.mo3').css('display','none');
          $('.mo2').css('display', 'block');
          $('header').css('height', '50px')
          $('main').css('padding-top', '0px')        
        }         
       })
    </script>
    <script src="ejs.min.js"></script>  
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  </head>
  <body>
    <header id="at">
<script>
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Current Results of the Poll "
      },
      axisY:{
        includeZero: false  //try changing it to true
      },
      toolTip:{
        enabled: false
      },
      data: [
      {
       type: "doughnut",
       showInLegend: true,
       dataPoints: [
          <%for (var i=0; i< poll.options.length; i++){ %>
       {  y: "<%= poll.votes[i] %>", indexLabel: "<%= poll.options[i]%>", label: "<%= poll.options[i]%>",
        name: "<%= poll.options[i]%>: "+eval("<%= poll.votes[i] %>-1")},

          <% } %>

         
       ]
     }
     ]
   });

    chart.render();
  }
  </script>      
      <ul class="title">
        <li>Voting App</li>
      </ul>
      <div class="mo">        
       <ul class="title2">
         <a href="https://branch-droplet.glitch.me/user/profile.html" style="color:black"><li id="a1" class="a1"><%=user%>'s Profile</li></a>
         <a href="https://branch-droplet.glitch.me/logout" style="color:white"><li id="a2">Sign Out</li></a>
       </ul>
      </div>
      <div class="mo2">        
        <p id="me">
          <i class="fa fa-bars" onclick="myF()"></i>
        </p>
      </div>
      <div class="mo3">        
        <p id="me2">
          <i class="fa fa-bars" onclick="myF2()"></i>
        </p>
        <ul class="title3">
          <a href="https://branch-droplet.glitch.me/user/profile.html" style="color:black"><li id="a3"><%=user%>'s Profile</li></a>
          <a href="https://branch-droplet.glitch.me/logout" style="color:white"><li id="a4">Sign Out</li></a>
       </ul>
      </div>      
    </header>

    <main id="at5">    
      <div class="col-md-5 vp5">
        <p class="p1">
          <%= poll['name'] %>
        </p>
        <form method="POST">
          <p class="p2">
            <b>I would like to vote for:</b>
          </p>
          <select name="choice">
            <option value="" disabled selected>Choose an option...</option>
            <% for(var i=0; i<poll['options'].length; i++){ %>
            <option value="<%= poll['options'][i]%>"><%=poll['options'][i]%></option>
            <% } %>
          </select>
              
          <p class="p2" id="p2">
            <b>I would like to add the following option to this poll:</b>
          </p>
          <input type="text" name="options" placeholder="not required... ">    
              
          <input type="submit">
          <button>
            <a href="https://twitter.com/intent/tweet?url=https://branch-droplet.glitch.me/views/polls.html?poll=0&text=Poll%20%7C%20voting"><i class="fa fa-twitter"></i> Share on Twitter</a>
          </button>
          
        </form>  
          
          
          
      </div>
      <div class="col-md-7 vp7">

       <div id="chartContainer" style="height: 300px; width: 100%;">        
      </div>     
      



    </main>
    <div class="bot">

      &copy <ma id="ma"></ma> branch-droplet.glitch.me
    </div>
    <script>
      document.getElementById('ma').textContent= new Date().getFullYear();
    </script>
        
      </div>
  </body>
</html>
